:root {
  --accent-color: #2196f3;
  --accent-background: #2f303a;
  --secondary-background: #f5f4fa;
  --button-color: #188ce8;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --accessary-color: #ffffff;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  font-size: 16px;
  cursor: pointer;
}

/*======HEADER======*/

.link-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-color);
}

.logo {
  color: var(--accent-color);
}

.nav-link,
.link-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--text-color);
}

.nav-link:hover,
.nav-link:focus,
.link-contact:hover,
.link-contact:focus,
.nav-link.active {
  color: var(--accent-color);
}

.link-contact {
  color: var(--secondary-text-color);
}

/*======HERO======*/

.hero {
  background-color: var(--accent-background);
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--accessary-color);
}

.hero-btn {
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.88;
  color: var(--accessary-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-color);
}

/* ======FEATURE====== */
.feature-subtitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* ======PROJECT====== */
.project-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ======TEAM====== */
.team-section {
  background: var(--secondary-background);
}

.text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
}

.team-desc {
  color: var(--secondary-text-color);
}

/* ======FOOTER====== */
.footer {
  background: var(--accent-background);
}
.logo-footer {
  color: var(--accessary-color);
}

.contact-blok-link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.contact-blok-link.adress {
  color: var(--accessary-color);
}

.contact-blok-link:hover,
.contact-blok-link:focus {
  color: var(--accessary-color);
}

/* ==========PORTFOLIO========== */

/* ======FILTERS====== */
.filter-btn {
  background: var(--secondary-background);
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  color: var(--text-color);
}

.current-btn,
.filter-btn:focus,
.filter-btn:hover {
  color: var(--accessary-color);
  background-color: var(--accent-color);
}
/* ======GALLERY====== */
.gallery-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.gallery-desc {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
